* {
  box-sizing: border-box;
}

body {
  background: #121212;
  height: 100vh;
}

.bar {
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #F1F1F1;
  font-family: sans-serif;
}

section div {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
  margin: 20px;
  background: hsla(5, 10%, 80%, 0.2);
}

a {
  color: #4d65ba;
}

.bar {
display: flex;
align-items: center;
}
.s1 {
  display: flex;
}

.s1 img {
  margin: 20px;
}

button {
  background: hsla(0, 0%, 100%, 0);
  color: #4d65ba;
  border-radius: 3rem;
  border-color: #4d65ba;
  border: 1px solid;
  font-weight: bold;
  max-height: fit-content;
  padding: 20px;
}

